.table-div {
    width: 100%;
    background: white;
    box-shadow: 1px 0 5px 1px;
    border-radius: 5px;
    padding: 16px;

    table {
        width: 100%;
    }
}

.table-actions {
    display: flex;
    justify-content: space-between;
    padding: 0 16px 0 16px;
    margin: 0 0 16px 0;
}